{% extends "orders/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- CSS and JS needed for FilteredSelectMultiple -->
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    {{ form.media }}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-s">New Item</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create Item</button>
            </div>
        </form>
    </div>
{% endblock content %}
