{% extends "orders/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ order.author.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ order.author }}</a>
                <small class="text-muted">{{ order.date_created|date:"F j, Y" }}</small>
            </div>
            <h2 class="article-title">{{ order.name }}</h2>
            <p class="article-content">{{ order.info }}</p>
            {% if order %}
                <ul class="list-group">
                    {% for item in order.items.all %}
                        <li class="list-group-item">{{ item }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form.as_p }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Place Order</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
{% endblock content %}
